*, ::before, ::after{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ubuntu';
    src: url('Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ubuntu-light';
    src: url('Ubuntu-Light.ttf') format('truetype');
}

html{
    font-size: 16px;
    font-family: 'ubuntu', 'Lacquer', sans-serif;
    background-color: #222831;
    color: white;
    text-align: center;
}

body{
    margin: 10vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px auto;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 1rem 0;
}

td, th {
    padding: 10px;
}

.center {
    position: relative;
    width: 300px;
    height: 220px;
    margin: 5px auto;
    background: #fff;
    border-radius: 5px;
}
  
.title {
    font-size: 16px;
    color: #222831;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
}   
   
.input {
    width: 80%;
    margin: 20px auto;
    opacity: 1;
    color: #222831;
}
  
.submit-btn {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 80px;
    bottom: 65px;
    background: #222831;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
    color: white;
    border: none;
    box-sizing: border-box;
}

.submit-btn:hover {
    background-color: white;
    color: #222831;
    border: #222831 solid 1px;
}

.list-btn {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 80px;
    bottom: 20px;
    background: #222831;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
    color: white;
    border: none;
    box-sizing: border-box;
}

.list-btn:hover {
    background-color: white;
    color: #222831;
    border: #222831 solid 1px;
}