{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Format Convertor!</title>
    <link type="text/css" rel="stylesheet" href="{% static 'convertor/style.css' %}">
</head>
<body>
    <h1 class="m-head">Welcome to File Format Convertor app!</h1>
    <br><hr><br>
    {% block main %}
    hello
    {% endblock main %}
    <br><hr><br>
</body>
</html>