{% extends './base.html' %}

{% block main %}
{% if error %}
    {% for e in error %}
        <h5 style="width:max-content;background:#db3056;margin:5px auto;padding:6px;border:#db3056 solid 2px;border-radius:3px;">{{ e }}</h5><br><br>
    {% endfor %}
{% endif %}
<form action="{% url 'convertor:step1' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="center">
		<div class="title">Upload ur file here(Max size: 100MG): </div>
        <input type="file" name="file_up" class="input" accept=".jpg,.mp4" required>
        <input class="submit-btn" type="submit" value="Submit!">
        <a href="{% url 'convertor:step3' %}"><div class="list-btn">see list!</div></a>
    </div>
        <div style="font-size:13px;">Note: your upload will be public! :) <br>per-user files in future! :)</div>
		
</form>

{% endblock %}